.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 100%;
    margin-left: 23px;
    
}
.container{
    display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}
@media  (min-width: 992px) {
    .container {
        max-width: 960px !important;
    }
}

.card:hover{
    scale: 1.1;
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
    margin-left: 8px;
  }
  .sidebar {
    height: 100%;
    width: 150px;
    position: absolute;
    left: 0;
    top: 0;
    padding-top: 40px;
    background-color: lightblue;
    }
    
    .sidebar div {
    padding: 8px;
    font-size: 24px;
    display: block;
    }
    .body-text {
        margin-left: 150px;
        font-size: 18px;
        }
.stars{
    margin: auto;
    list-style: none;
}
.search_css{
    width: 532px;
    height: 53px;
    position: sticky;
    margin-top: -243px;
    border-radius: 32px;
}



